body {background-color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
     

}
h1 {
    color: rgb(7, 160, 7);
        
     }

 h2 {
      font-size: 40px;
      color: midnightblue;

 }    

p
   {color: mediumseagreen;
    font-size: 20px;
    

}

ul
    {color: mediumseagreen;
     font-size: 20px;
     


}

span {color: rgb(7, 160, 7);


}





